<script type="importmap">
  {
    "imports": {
      "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js"
    }
  }
</script>

<div id="app">
  <p v-if="seen">이제 나를 볼 수 있어요</p>

 <ol>
    <li v-for="todo in todos" :key="todo.text">
      {{ todo.text }}
    </li>
  </ol>
</div>

<script type="module">
  import { createApp } from 'vue'

  createApp({
    data() {
      return {
        message: 'Hello Vue!',
        seen: true,
        todos: [
          { text: 'JavaScript 배우기' },
          { text: 'Vue 배우기' },
          { text: '무언가 멋진 것을 만들기' }
        ]
      }
    }
  }).mount('#app')
</script>